{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h1 class="main-text">Welcome to RAV. Remix sound. Rinse and repeat.</h1>
<form class="col-md-4 col-md-offset-4" action="" method="post" enctype=multipart/form-data>
  <span class="btn btn-default btn-file">
      Select an mp3 or wav file <input type="file" name="file">
  </span>
  <input type="text" name="minlength" ref="minlength" class="form-control" placeholder="Minimum Shard Length"></input>
  <input type="text" name="maxlength" ref="maxlength" class="form-control" placeholder="Maximum Shard Length"></input>
  <input type="text" name="total" ref="total" class="form-control" placeholder="Total Time"></input>
  <input type="text" name="clipname"ref="clipname" class="form-control" placeholder="Clip Name"></input>
  <button class="btn btn-primary" type="submit" value="mix">Mix!</button>
</form>
{% endblock %}
