{% extends "layout.html" %}

{% block header %}
<h1>Welcome to RAV. Remix sound. Rinse and repeat.</h1>
{% endblock %}

{% block body %}
<form action="" method="post" enctype=multipart/form-data>
  File: <input type="file" name="file"><br>
  Minimum Shard Length: <input type="text" name="minimum_shard_length"><br>
  Maximum Shard Length: <input type="text" name="maximum_shard_length"><br>
  Total Time: <input type="text" name="total_time"><br>
  Clip Name: <input type="text" name="clip_name">.mp3<br>
  <input type="submit" value="Mix!">
</form>
{% endblock %}
